body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  img{
    display: block;
    width: 350px;
    margin: auto;
    
  }
  
  h4 {
    text-align: center;
  }
  /* #################       index page       ################# */
  .start {
    margin-top: 400px;
    margin-left: 200px;
    text-decoration: none;
    border: #2D4990;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    background-color: #2D4990; 
  }
  .start a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
  }
  .start i{
    font-size: 20px;
    height: 19px;
    width: 19px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #2D4990;
  }
  /* ###################      log in page      ##################### */

  .log-forms {
    margin-top: 150px;
  }


   .forms input {
    display: block;
    width: 440px;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0092db;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #0092db78;
  }
  .inputs i{
    position: absolute;
    margin-left: 450px;
    padding-bottom: 20px;
  }
  .fa-solid{
    padding: 10px;
    max-width: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  .terms p{
    font-size: 12px;
    text-align: center;
  }
  .terms button {
    text-decoration: none;
    border: #2D4990;
    border-radius: 10px;
    width: 520px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #2D4990;
    color: #fff;
    cursor: pointer;
  }
  section{
    background:none;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }
  
  /* ###################         sign up page         ###################### */
.sign-forms{
  margin-top: 20px;
}

  .terms label{
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
  }
  input[type="checkbox"] {
    border-radius: 4px;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 30px;
    cursor: pointer;
    background-color: #fff;
  }
  
  input[type="checkbox"]:checked {
    background-color: #2D4990;
  }
